/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the background color and font styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9c5c5;
    color: black;
    margin: 0;
    padding: 0;
}

h2 { 
    border-radius: 5px;
}

/* Style the header */
header {
    background-color: rosybrown;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    display: inline; 
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    display: inline;
}

nav ul li a:hover {
    color: #f56a7e; /* Hover color - Pastel Red */
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.discussion-content1 { 
    background-color: white;
}

.discussion-content { 
    background-color: white;
}

/* Discussion list styles */
.discussion-list {
    background-color: rosybrown;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.discussion-items {
    list-style-type: none;
}

.discussion-item {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.discussion-item:hover {
    background-color: lightpink;
}

.discussion-item h3 {
    color: rosybrown;
}

/* New discussion form styles */
.new-discussion {
    background-color: rosybrown;
    padding: 1rem;
    border-radius: 10px;
}

form {
    margin-top: 1rem;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: white;
    color: rosybrown;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: lightpink;
}

/* Footer styles */
footer {
    text-align: center;
    background-color: rosybrown;
    color: white;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 10px;
}

