body {
    font-family: Arial, sans-serif;
    background-color: #f9c5c5;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rosybrown;
    color: white; 
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center; /* Center the navigation horizontally */
    align-items: center; /* Center the navigation vertically */
}

nav li {
    margin-right: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff99cc; /* Light pink on hover */
}

main {
    padding: 20px;
}

#calendar {
    max-width: 800px;
    margin: 0 auto;
}

/* Customize the calendar colors */
.fc-day-header {
    background-color: rosybrown;
    border-color: #ddd;
    color: #333;
}

.fc-day {
    background-color: #f9f9f9;
}

.fc-event {
    background-color: lightseagreen;
    border-color: lightseagreen;
    color: #fff;
}

.fc-list-day {
    background-color: #fff;
    border-color: #ddd;
    color: #333;
}


.fc-event:hover {
    background-color: #d6b2f0;
    border-color: #d6b2f0;
}

 
